<html>
<head>
<title></title>
</head>
<body bgcolor="#f1f1f1" text="Red">
<h1>This WebServer Build by ANSIBLE</h1>
Welcome to SERVER {{ ansible_facts['fqdn'] }} on IP {{ ansible_facts['default_ipv4']['address'] }}
</body>
</html>
